.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 15px 0;
  width: 100%;
  border-radius: 10px;
}

.title {
  font-family: 'Chaney Ultraextended', 'Ubuntu', sans-serif;
  width: 205px;
  height: 45px;
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  color: white;
}

.list {
  font-family: 'Outfit', sans-serif;
  list-style: none;
  display: flex;
  gap: 32px;
  padding: 10px;
  color: rgb(250, 250, 250);
}

.item {
  text-decoration: none;
  color: rgb(250, 250, 250);
  cursor: default;
  padding: 5px 0;
  transition: color 0.3s ease;
  position: relative;
}

/* Анимация подчеркивания для ITEM */
.item::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #d800ff;
  transition: width 0.5s ease;
  opacity: 0;
}

.item:hover::after {
  width: 100%;
  opacity: 1;
}

.btn {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: rgb(250, 250, 250);
  width: 160px;
  height: 56px;
  padding: 8px;
  gap: 8px;
  border: 0;
  border-radius: 8px;
  background-color: rgba(124, 35, 140, 1);
}
